* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input[type=range] {
  -webkit-appearance: none;
  height: 22px;
  background: transparent;
  position: absolute;
  width: 100% !important;
  height: 40px !important;
  overflow: hidden;
  opacity: 1 !important;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 12px;
  border: 1px solid #b9d1e1;
  border-radius: 6px;
  background-clip: padding-box;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #3d7b00;
  width: 22px;
  height: 22px;
  border-radius: 11px;
  position: relative;
  top: -5px;
}

input[type=range]::-moz-range-track {
  background: #FFF;
  height: 12px;
  border: 1px solid #b9d1e1;
  border-radius: 6px;
  background-clip: padding-box;
}

input[type=range]::-moz-range-thumb {
  background: #3d7b00;
  width: 22px;
  height: 22px;
  border-radius: 11px;
  border: none;
}

input[type=range]::-ms-track {
  background: #FFF;
  height: 12px;
  border: none;
  border-radius: 6px;
  color: transparent;
  background-clip: padding-box;
}

input[type=range]::-ms-fill-lower {
  background: #5b9b00;
  height: 12px;
  border: 1px solid #3d7b00;
  border-radius: 6px;
  background-clip: padding-box;
}

input[type=range]::-ms-fill-upper {
  background: #FFF;
  height: 12px;
  border: 1px solid #b9d1e1;
  border-radius: 6px;
  background-clip: padding-box;
}

input[type=range]::-ms-thumb {
  background: #3d7b00;
  width: 22px;
  height: 22px;
  border-radius: 11px;
  z-index: 100;
  border: none;
  position: absolute;
  overflow: visible;
}

input[type=range]::-ms-ticks {
  border: none;
}

input[type=range]::-ms-tooltip {
  display: none;
}
@font-face {
  font-family: 'MyriadPro';
  src: url("../font/MyriadPro-Regular.eot");
  src: url("../font/MyriadPro-Regular.woff") format("woff"), url("../font/MyriadPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.no-wrapp {
  white-space: nowrap;
}

.txt-line {
  position: relative;
}

.txt-line::before {
  content: '';
  position: absolute;
  top: 18px;
  width: 115px;
  height: 2px;
  background: #000;
}

.rangeslider__handle {
  width: 23px;
  height: 23px;
  background-color: #e60028;
}

.rangeslider__handle::before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  position: relative;
  background-image: url("../img/thumb-left-arrow.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  right: 17px;
  top: 2px;
}

.rangeslider__handle::after {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  position: relative;
  background-image: url("../img/thumb-right-arrow.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  left: 21.6px;
  top: -18px;
}

.rangeslider--horizontal {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.rangeslider__fill {
  -webkit-box-shadow: none;
          box-shadow: none;
}

body {
  font-family: 'MyriadPro';
}

body #main-container {
  max-width: 520px;
  padding: 30px 20px;
  margin: 0 auto;
  height: 100%;
}

body #main-container .header .logo-img {
  width: 220px;
}

body #main-container .worker-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

body #main-container .worker-wrapper .worker-photo {
  width: 30%;
  max-width: 218px;
}

body #main-container .worker-wrapper .worker-photo img {
  width: 100%;
}

body #main-container .worker-wrapper .worker-info {
  margin-left: 20px;
  width: calc(70% - 20px);
  color: #000;
  position: relative;
}

body #main-container .worker-wrapper .worker-info .worker-question {
  font-size: 16px;
}

body #main-container .worker-wrapper .worker-info .box {
  position: absolute;
  bottom: 0;
}

body #main-container .worker-wrapper .worker-info .box .worker-name {
  color: #333333;
  font-size: 18px;
}

body #main-container .worker-wrapper .worker-info .box .worker-position {
  color: #807d7d;
  font-size: 14px;
}

body #main-container .range-section {
  margin-top: 30px;
  position: relative;
}

body #main-container .range-section .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
}

body #main-container .range-section .container .range__left-side {
  height: 100%;
  width: 0%;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: hidden;
  position: relative;
  z-index: 2;
}

body #main-container .range-section .container .range__thumb {
  position: absolute;
  top: 65px;
  height: 20px;
  width: 20px;
  border-radius: 9999px;
  background-color: #e60028;
  cursor: pointer;
}

body #main-container .range-section .container .range__right-side {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.1);
}

body #main-container .range-section .container .range__right-side .big-scale-line {
  display: inline-block;
  width: 1px;
  height: 100%;
  background: #d1d1d1;
  position: absolute;
  left: 0;
}

body #main-container .range-section .container .range__right-side .zero-big-scale-line {
  display: inline-block;
  width: 1px;
  height: 100%;
  background: #d1d1d1;
  position: absolute;
  left: 0;
}

body #main-container .range-section .range-scale-values {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

.range-section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.range-section .container .range-part {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.range-section .container .range-part.inactive .line {
  background: #d3d3d3 !important;
}

.range-section .container .range-part:first-child.inactive::before {
  content: '';
  height: 50px;
  width: 1px;
  background: #d3d3d3 !important;
}

.range-section .container .range-part:first-child::before {
  content: '';
  height: 50px;
  width: 1px;
  background: #93080b;
}

.range-section .container .line {
  height: 50px;
  width: 1px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.range-section .container .line.middle-line {
  height: 36px;
}

.range-section .container .line.small-line {
  height: 25px;
}

.range-section .container .range-thumb {
  position: absolute;
  top: 82px;
  left: -7px;
  height: 20px;
  width: 20px;
  border-radius: 9999px;
  background-color: #e60028;
  cursor: pointer;
}

.range-section .container .rang-wrapper {
  width: calc(100% + 20px);
  margin-left: -10px;
}

.range-section .range-numbers {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
}

.range-section .range-numbers .number-section {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-start;
}

.range-section .range-numbers .number-section .number {
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}

.range-section .range-numbers .number-section:first-child .number {
  right: 2px;
}

.range-section .range-numbers .number-section:nth-child(2) .number {
  right: 2px;
}

.range-section .range-numbers .number-section:nth-child(3) .number {
  left: 2px;
}

.range-section .range-numbers .number-section:nth-child(4) .number {
  left: 6px;
}

.range-section .range-numbers .number-section:nth-child(5) .number {
  left: 10px;
}

.range-section .range-numbers .number-section:nth-child(6) .number {
  left: 15px;
}

.range-section .range-numbers .number-section:nth-child(7) .number {
  left: 19px;
}

.range-section .range-numbers .number-section:nth-child(8) .number {
  left: 23px;
}

.range-section .range-numbers .number-section:nth-child(9) .number {
  left: 28px;
}

.range-section .range-numbers .number-section:nth-child(10) .number {
  left: 32px;
}

.range-section .range-numbers .number-section:last-child .number {
  left: 33px;
}

.range-section .help-txt {
  width: 60%;
  border-radius: 30px;
  background: #e60028;
  padding: 12px 5px 12px 10px;
  color: #fff;
  font-size: 13px;
  position: absolute;
  bottom: -21px;
  left: 52px;
  min-width: 246px;
}

.hidden-content .slide-box {
  margin-top: 50px;
}

.hidden-content .slide-box .slides-title {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 20px;
}

.hidden-content .slide-box .swiper-container .swiper-slide input {
  display: none;
  opacity: 0;
}

.hidden-content .slide-box .swiper-container .swiper-slide input[type='radio']:checked + label .check-icon {
  border: 1px solid #9F0002;
}

.hidden-content .slide-box .swiper-container .swiper-slide .employer-label {
  cursor: pointer;
}

.hidden-content .slide-box .swiper-container .swiper-slide .employer-label .check-icon {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hidden-content .slide-box .swiper-container .swiper-slide .employer-label .icon-1 {
  background-image: url("../img/scroll-icons/1.png");
}

.hidden-content .slide-box .swiper-container .swiper-slide .employer-label .icon-2 {
  background-image: url("../img/scroll-icons/2.png");
}

.hidden-content .slide-box .swiper-container .swiper-slide .employer-label .icon-3 {
  background-image: url("../img/scroll-icons/3.png");
}

.hidden-content .slide-box .swiper-container .swiper-slide .employer-label .icon-4 {
  background-image: url("../img/scroll-icons/4.png");
}

.hidden-content .slide-box .swiper-container .swiper-slide .employer-label .icon-5 {
  background-image: url("../img/scroll-icons/5.png");
}

.hidden-content .slide-box .swiper-container .swiper-slide .employer-label .employer-label-txt {
  font-size: 11px;
  text-align: center;
}

.hidden-content .slide-box .swiper-container .swiper-slide .office-label {
  cursor: pointer;
}

.hidden-content .slide-box .swiper-container .swiper-slide .office-label .check-icon {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hidden-content .slide-box .swiper-container .swiper-slide .office-label .icon-1 {
  background-image: url("../img/office-scroll-icons/1.png");
}

.hidden-content .slide-box .swiper-container .swiper-slide .office-label .icon-2 {
  background-image: url("../img/office-scroll-icons/2.png");
}

.hidden-content .slide-box .swiper-container .swiper-slide .office-label .icon-3 {
  background-image: url("../img/office-scroll-icons/3.png");
}

.hidden-content .slide-box .swiper-container .swiper-slide .office-label .icon-4 {
  background-image: url("../img/office-scroll-icons/4.png");
}

.hidden-content .slide-box .swiper-container .swiper-slide .office-label .icon-5 {
  background-image: url("../img/office-scroll-icons/5.png");
}

.hidden-content .slide-box .swiper-container .swiper-slide .office-label .office-label-txt {
  font-size: 11px;
  text-align: center;
}

@media (max-width: 430px) and (max-width: 430px) {
  .range-section .range-numbers .number-section {
    width: 9%;
  }
  .range-section .range-numbers .number-section:nth-child(3) .number {
    left: 1px;
  }
  .range-section .range-numbers .number-section:nth-child(4) .number {
    left: 5px;
  }
  .range-section .range-numbers .number-section:nth-child(5) .number {
    left: 7px;
  }
  .range-section .range-numbers .number-section:nth-child(6) .number {
    left: 12px;
  }
  .range-section .range-numbers .number-section:nth-child(7) .number {
    left: 16px;
  }
  .range-section .range-numbers .number-section:nth-child(8) .number {
    left: 20px;
  }
  .range-section .range-numbers .number-section:nth-child(9) .number {
    left: 24px;
  }
  .range-section .range-numbers .number-section:nth-child(10) .number {
    left: 27px;
  }
  .range-section .range-numbers .number-section:last-child .number {
    left: 27px;
  }
}

@media (max-width: 380px) {
  .range-section .range-numbers .number-section {
    width: 9%;
  }
  .range-section .range-numbers .number-section:nth-child(4) .number {
    left: 4px;
  }
  .range-section .range-numbers .number-section:nth-child(5) .number {
    left: 6px;
  }
  .range-section .range-numbers .number-section:nth-child(6) .number {
    left: 11px;
  }
  .range-section .range-numbers .number-section:nth-child(7) .number {
    left: 14px;
  }
  .range-section .range-numbers .number-section:nth-child(8) .number {
    left: 17px;
  }
  .range-section .range-numbers .number-section:nth-child(9) .number {
    left: 21px;
  }
  .range-section .range-numbers .number-section:nth-child(10) .number {
    left: 24px;
  }
  .range-section .range-numbers .number-section:last-child .number {
    left: 23px;
  }
}
/*# sourceMappingURL=style.css.map */