* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: 'MyriadPro';
  src: url("../font/MyriadPro-Regular.eot");
  src: url("../font/MyriadPro-Regular.woff") format("woff"), url("../font/MyriadPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.no-wrapp {
  white-space: nowrap;
}

.txt-line {
  position: relative;
}

.txt-line::before {
  content: '';
  position: absolute;
  top: 18px;
  width: 115px;
  height: 2px;
  background: #000;
}

.rangeslider__handle {
  width: 23px;
  height: 23px;
  background-color: #e60028;
}

.rangeslider--horizontal {
  -webkit-box-shadow: none;
          box-shadow: none;
  background: transparent;
}

.rangeslider__fill {
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.rangeslider--horizontal .rangeslider__handle {
  top: 10px;
}

body {
  font-family: 'MyriadPro';
}

body #main-container {
  max-width: 520px;
  padding: 30px 20px;
  margin: 0 auto;
  height: 100%;
}

body #main-container .header .logo-img {
  width: 220px;
}

body #main-container .worker-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

body #main-container .worker-wrapper .worker-photo {
  width: 30%;
  max-width: 218px;
}

body #main-container .worker-wrapper .worker-photo img {
  width: 100%;
}

body #main-container .worker-wrapper .worker-info {
  margin-left: 20px;
  width: calc(70% - 20px);
  color: #000;
  position: relative;
}

body #main-container .worker-wrapper .worker-info .worker-question {
  font-size: 16px;
}

body #main-container .worker-wrapper .worker-info .box {
  position: absolute;
  bottom: 0;
}

body #main-container .worker-wrapper .worker-info .box .worker-name {
  color: #333333;
  font-size: 18px;
}

body #main-container .worker-wrapper .worker-info .box .worker-position {
  color: #807d7d;
  font-size: 14px;
}

body #main-container .range-section {
  margin-top: 30px;
}

body #main-container .range-section .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
}

body #main-container .range-section .container .range__left-side {
  height: 100%;
  width: 0%;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: hidden;
  position: relative;
  z-index: 2;
}

body #main-container .range-section .container .range__thumb {
  position: absolute;
  top: 65px;
  height: 20px;
  width: 20px;
  border-radius: 9999px;
  background-color: #e60028;
  cursor: pointer;
}

body #main-container .range-section .container .range__right-side {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.1);
}

body #main-container .range-section .container .range__right-side .big-scale-line {
  display: inline-block;
  width: 1px;
  height: 100%;
  background: #d1d1d1;
  position: absolute;
  left: 0;
}

body #main-container .range-section .container .range__right-side .zero-big-scale-line {
  display: inline-block;
  width: 1px;
  height: 100%;
  background: #d1d1d1;
  position: absolute;
  left: 0;
}

body #main-container .range-section .range-scale-values {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

.range-section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.range-section .container .range-part {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.range-section .container .range-part.inactive .line {
  background: #d3d3d3 !important;
}

.range-section .container .range-part:last-child.inactive::after {
  content: '';
  height: 50px;
  width: 2px;
  background: #d3d3d3 !important;
}

.range-section .container .range-part:last-child::after {
  content: '';
  height: 50px;
  width: 2px;
  background: #079d26;
}

.range-section .container .line {
  height: 50px;
  width: 2px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.range-section .container .line.middle-line {
  height: 36px;
}

.range-section .container .line.small-line {
  height: 25px;
}

.range-section .container .range-thumb {
  position: absolute;
  top: 82px;
  left: -7px;
  height: 20px;
  width: 20px;
  border-radius: 9999px;
  background-color: #e60028;
  cursor: pointer;
}

.range-section .container .rang-wrapper {
  width: calc(100% + 20px);
  margin-left: -10px;
}
/*# sourceMappingURL=style.css.map */